---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex, nofollow" />
		<title>{Astro.props.title}</title>
		<script defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"></script>
	</head>
	<body
		class="bg-[url('/fun/dobberman_tekst.png')] bg-no-repeat bg-[length:620px_auto] bg-[position:80%_bottom] bg-fixed">

		<header>
			<Header></Header>
		</header>
		
		<main>
			<slot />
		</main>

		<footer>
			<Footer></Footer>
		</footer>
			
	<style>
		

	</style>
		  
		  

	</body>
</html>

